body {
    position: relative;
    overflow: visible;
    -o-background-image: url(../images/back-bg.jpg);
    -ms-background-image: url(../images/back-bg.jpg);
    -moz-background-image: url(../images/back-bg.jpg);
    -webkit-background-image: url(../images/back-bg.jpg);
    background-image: url(../images/back-bg.jpg);
    background-size: 100%;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99;
}
#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/pro-pre.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}
.navbar {
    background: transparent;
    z-index: 9;
    padding: 17px 40px 17px 40px;
    width: auto;
    display: block;
    box-shadow: none;
    border: none;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-brand {
    margin-top: -10px;
}
.navbar-brand img {
    height: 40px;
    width: 40px;
    display: inline;
    opacity: .9;
}
.navbar-default .navbar-brand:focus {
    color: #02FD5B;
}
.navbar-default .navbar-brand:hover {
    color: #02FD5B;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-weight: 600;
    transition: all 0.5s;
    font-family: serif;
    letter-spacing: 1pt;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background: none;
    font-size: 15px;
    color: #02FD5B;
    font-weight: 700;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    padding-bottom: 10px;
    color: #02FD5B;
    border-bottom: 5px solid #02FD5B;
    margin-top: -10px;
    text-shadow: 0 0 10.9px #02FD5B;
    font-family: cursive;
    box-shadow: 0 5px 15px #02FD5B;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, .94);
    z-index: 9;
    padding: 17px 40px 17px 40px;
    height: 84px;
    width: auto;
    display: block;
    box-shadow: none;
    border: none;
}
.sticky + .navbar {
    padding-top: 102px;
}
h2 {
    text-transform: uppercase;
    color: #02FD5B;
}
b {
    font-family: serif;
}
#section1 {
    padding: 15% 20%;
    background-size: 100% 100%;
    position: relative;
    text-align: center;
    background: rgba(0, 0, 0, .5);
}
#section1 h1 {
    color: #fff;
    text-shadow: 1px 1px 15px #000;
    margin-top: 10px;
}
#section1 h2 {
    font-size: 20px;
}
.typed-cursor {
    display: none;
}
#intro {
    width: auto;
    height: auto;
    overflow: hidden;
}
.box-model-intro {
    width: auto;
    height: 90px;
    display: block;
    margin: 0 auto;
}
#section2 {
    padding: 5% 0%;
    -webkit-background-color: #ffffffe3;
    background-color: #ffffffbd;
}
#section2 .col-md-12 {
    -webkit-background-color: #ffffffe3;
    background-color: #ffffffe3;
    border-radius:  5px;
    -webkit-box-shadow: 2px 2px 15px 10px #a7a7a7a7;
    box-shadow: 2px 2px 15px 10px #a7a7a7a7;
    -webkit-box-shadow: 2px 2px 15px 10px #a7a7a7a7;
}
#section2 .about {
    padding: 5% 0% 0% 5%;
    border-radius: 10px;
    margin-top: 4%}
#section2 .img-responsive {
    width: 100%;
    border-radius: 10px;
}
#section2 p, h1 {
    margin: 0;
    font-family: serif;
}
#section2 p {
    font-size: 20px;
}
#section3 {
    padding: 7% 0%;
    background-color: #ffffffbd;
}
#section3 .row {
    margin-top: -25px;
}
#section3 .col-md-12 {
    background: #2c282a;
    padding: 5%;
    border-radius: 5px;
}
#section3 .col-md-12:hover {
    background: #02FD5B;
    transition: 1.5s;
}
#section3 .box {
    border: 2px solid #fff;
    background: #0089fff2;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    height: 235px;
    width: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
#section3 .box:hover {
    box-shadow: 0 10px 14px 5px rgba(0, 0, 0, .25);
    background: green;
    transition: 1.5s;
}
#section3 .img-responsive {
    height: 70px;
    width: 75px;
    padding: 5px;
    margin-top: -50px;
    background: #2471e4;
    border: 2px solid #fff;
    box-shadow: 1px 2px 10px grey;
    border-radius: 5px;
}
#section3 .img-responsive:hover {
    -o-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    -moz-transition: -moz-transform .8s ease-in-out;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
    transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
#section3 p{
    font-size: 16px;
}
#section3 p, h3, h4 {
    color: #fff;
}
#section3 .col-md-4 {
    margin-top: 45px;
}
#section4 {
    padding: 5%;
    padding-bottom: 10%;
    background: rgba(0, 0, 0, .5);
    color: #fff;
}
#section4 .container .row {
    margin-bottom: 10px;
}
#section4 h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-align: center;
}
#section4 p {
    margin-left: auto;
    margin-right: auto;
    max-width: 36em;
    text-align: center;
}
svg.radial-progress {
    height: auto;
    max-width: 200px;
    padding: 1em;
    transform: rotate(-90deg);
    width: 100%}
svg.radial-progress circle {
    fill: rgba(0, 0, 0, 0);
    stroke: #fff;
    stroke-dashoffset: 219.91148575129;
    stroke-width: 10;
}
svg.radial-progress circle.incomplete {
    opacity: .25;
}
svg.radial-progress circle.complete {
    stroke-dasharray: 219.91148575129;
}
svg.radial-progress text {
    fill: #fff;
    font: 5.7pt 'Oswald', sans-serif;
    text-anchor: middle;
}
svg.radial-progress:nth-of-type(6n+1) circle {
    stroke: #a2ed56;
}
svg.radial-progress:nth-of-type(6n+2) circle {
    stroke: #83e4e2;
}
svg.radial-progress:nth-of-type(6n+3) circle {
    stroke: #fd6470;
}
svg.radial-progress:nth-of-type(6n+4) circle {
    stroke: #fca858;
}
svg.radial-progress:nth-of-type(6n+5) circle {
    stroke: #fddc32;
}
#section5 {
    padding: 5% 0% 10% 0%;
    background-color: #dbf7f4a9;
}
#section5 {
    padding: 5% 0% 10% 0%;
    background-color: #dbf7f4a9;
}
#section5 a {
    text-decoration: none;
}
.buttonloader {
    margin: auto;
    margin-bottom: 20px;
}
.buttonloader .btn {
    -o-background-image: linear-gradient(to bottom, #00ffa166 0, #0037ff 100%);
    -ms-background-image: linear-gradient(to bottom, #00ffa166 0, #0037ff 100%);
    -moz-background-image: linear-gradient(to bottom, #00ffa166 0, #0037ff 100%);
    -webkit-background-image: linear-gradient(to bottom, #00ffa166 0, #0037ff 100%);
    background-image: linear-gradient(to bottom, #505156 0, #0e0f0f  100%);
    width: 200px;
    height: 50px;
    margin-top: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
}
.buttonloader .btn:hover, .btn:focus {
    background: #00da2f;
    font-weight: 600;
    -webkit-transition: 1.5s;
    transition: 1.5s;
}
.buttonloader .btn:active {
    background: #ff0000d9;
    color: #fff;
}
.gallry-wrapper {
    padding: 1%;
    background-image: url(../images/port-color.jpg);
    background-size: 100% 100%;
     border-radius: 10px;
    border: 10px solid #ddd;
}
.gallry-wrapper .img-thumbnail {
    width:  100%;
     margin: 10px 0;
    box-shadow: 2px 2px 2px #4c1e1e;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.gallry-wrapper .img-thumbnail:hover {
    box-shadow: 0 8px 12px 3px rgba(0, 0, 0, .55);
}
/*gallery section end*/
#testimonial{
    padding: 5%;
    background-image: url(../images/port-color.jpg);
    background-position: center;
    background-size: 100% 100%;
    position: relative;
}
.carousel-item {
  padding: 5% 0%;
}
img{
    margin: auto;
}
#testimonial p{
    color: #9c9c9c;
    text-align: center;
}
.carousel-control.left, .carousel-control.right{
/*    background-image: none;*/
    border: 2px solid grey;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: -50px;
}

#myVideo {
   position: relative;
   right: 0;
   bottom: 0;
   min-width: 100%;
   min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
   position: absolute;
   bottom: 15.5%;
   background: rgba(0, 0, 0, 0.5);
   color: #f1f1f1;
   width: 100%;
   padding: 70px;
   text-align: center;
}
#section6 a{
    text-decoration: none;
    color: #02FD5B;
}
#section6 a:hover{
    color: #ff0000;
    -webkit-transition: 1.5s;
    transition: 1.5s;
}
/*end video bg section*/
#start-project {
    width:  100%;
    height: auto;
    background-color: #2c282a; 
    margin-top: -7px;
}
#start-project a { 
    text-decoration:  none;
    color:  #fff; 
}
#start-project .btn {
    margin-top:  10px;
    font-size:  16px;
    height:  40px;
    width:  120px;
    font-family: sans-serif;
    color:  #fff;
    background: #ff0000;
    border: 3px solid #ff0000;;
    letter-spacing:  1px;
}

#start-project .btn:hover {
    color: #02FD5B;
    background: transparent;
    border: 3px solid #02FD5B;
    -webkit-transition: 1.5s;
    transition: 1.5s;
}

.nopadding {
    margin: 0;
    padding: 0;
    border: none;
}
iframe {
    width: 100%;
    margin-bottom: -5px;
}
#social-site {
    padding: 0;
    background-color: #2c282a;
}
#social-site .img-responsive {
    height: 50px;
    width: 50px;
}
#social-site a {
    text-decoration: none;
}
.fb, .tw, .link, .inst {
    padding: 50px;
}
.fb:hover {
    background-color: #4063AA;
    height: auto;
}
.tw:hover {
    background-color: #1DA1F2;
    height: auto;
}
.link:hover {
    background-color: #0077B5;
    height: auto;
}
.inst:hover {
    background-color: #E4295B;
    height: auto;
}
.zoom {
    padding: 0;
    transition: transform .5s;
    width: auto;
    height: auto;
    margin: 0 auto;
}
.zoom:hover {
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}
#footer {
    background: #231F20;
    text-align: center;
    padding: 2% 0%;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}
/*color: #bb7a00*/
#footer a{
    color: #333;
}
#footer a:hover{
    color: #02FD5B;
}
#footer a {
    text-decoration: none;
}
#footer .fas {
    font-size: 25px;
    color: #fff;
    line-height: 1.5;
}
/*// Extra small devices (portrait phones, less than 576px) */
@media (max-width:575.98px) {
    .navbar-brand {
        display: none;
    }

}
/*// Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .navbar-brand {
        display: none;
    }
}
/*// Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .navbar-brand {
        display: none;
    }
    #intro {
        display: none;
    }
    .fb, .tw, .link, .inst {
    padding: 10px;
    }
    .carousel-item {
      padding: 8% 0%;
    }
    #section6 .content{
        bottom: 11%;
    }
/*
    #social-site{
        display: none;
    }
*/
}
/*// Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    ...}
